<!DOCTYPE html>

<title>Goslinks</title>

<nav>
    Not {{ user.name }}? <a href="{{ url_for('google_oauth2.logout') }}">Logout</a>
</nav>

<h2>
    {% if link.url %}Update existing link{% else %}Create a new link{% endif %}
    {%- if link.slug %}: {{ link.slug }}{% endif %}
</h2>

<form method="POST">
    {{ form.csrf_token }}

    {% if form.errors %}
        <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    <div>{{ form.slug.label }}: {{ form.slug }}</div>
    <div>{{ form.url.label }}: {{ form.url }}</div>

    <input type="submit" />
</form>
